#heading{
padding-bottom: 20px;
padding-top: 10px;
}
.jumbotron{
  background-color: #f27b35;
}

thead{
  color: #f27b35;
}
body{
  font-family: 'Prociono', serif;
  font-size: 16px;
  /*font-weight: 450;*/
}
#button-2{
  float: right;

}
.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000000;
  text-align: center;
  color: #f27b35;
}
